{% extends "base/base.html" %}
{% block Menu %}
		<nav class="navbar navbar-expand-lg navbar-light bg-ligth">
		  <div class="container-fluid">
			    <a class="btn btn-dark" >Menu</a>    
		    <div class="collapse navbar-collapse" id="navbarNav">
			      <ul class="navbar-nav">
						<li class="nav-item">
				          	<a class="btn btn-outline-secondary" aria-current="page" href="{% url 'inicio'  %}">Inicio</a>
				        </li>
				        <li class="nav-item">
							<a class="btn btn-outline-secondary" href="{% url 'productos:listar' %}">Productos</a>
						</li>
			      </ul>
		    </div>
		  </div>
		</nav>
	{% endblock Menu %}
{% block portada %}
		<section class="py-5 text-center container">
		    <div class="row py-lg-5">
		      <div class="col-lg-5 col-md-4 mx-auto">
		      	{% include "include/alert.html" %}
		      	<div class="alert alert-primary d-flex align-items-center" role="alert">
					  <svg class="bi flex-shrink-0 me-2" width="30" height="30" role="img" aria-label="Info:">
					  	<use xlink:href="#info-fill"/>
					  </svg>
				  <div>
					   <h1 class="fst-italic">Actualizacion de datos </h1>
			        	<h1 class="py-1 text-center container">{{object.first_name }} {{object.last_name}}  </h1>
				  </div>
				</div>
		      </div>
		    </div>
		</section>
{% endblock portada %}
{% block contenido %}
	<form method="POST">{% csrf_token %}
			{% include "include/forms.html" %}
		<div class="row" style="padding:10px;">
			<div class="col">
			<button type='submit' class="btn btn-outline-success" >Guardar</button>
			<a class="btn btn-outline-danger" href="{% url 'usuario:mi_usuario' %}" >Cancelar</a>
		</div>
	</form>
{% endblock contenido %}