{% extends "base/base.html" %}
	{% block Menu %}
		
	{% endblock Menu %}
	{% block footer %}
			
	{% endblock footer %}

	{% block portada %}
		
	{% endblock portada %}
{% block contenido %}
<section class="py-5 text-center container">
		    <div class="row py-lg-5">
		      <div class="col-lg-6 col-md-8 mx-auto">
		        <h1 class="fw-light">LIstado de Usuarios  </h1>
		      </div>
		    </div>
		</section>
	
	<div class="row" style="padding:20px;">
		<div class="col">
			<a href="{% url 'inicio' %}" class="btn btn-outline-primary">Inicio</a>
		</div>
	</div>
	
	<table class="table table-success table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Usuario</th>
		      <th scope="col">dni</th>
		      <th scope="col">email</th>
		      <th scope="col">Acciones</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for u in usuarios  %}
		    	<tr>
			      <th scope="row">{{u.id}}</th>
			      <td>{{u.first_name}} {{u.last_name}}</td>
			      <td> {{u.username}}</td>
			      <td> {{u.dni}}</td>
			      <td> {{u.email}}</td>
			      <td>
			      	<a> </a>
			      	<a href="">Editar</a>
			      	<a href="">Eliminar</a>
			      </td>
			   	</tr> 
		    {% endfor %}
		  </tbody>
	</table>

	
{% endblock contenido %}