{% extends "base/base.html" %}
	{% block Menu %}
		
	{% endblock Menu %}
	{% block footer %}
			
	{% endblock footer %}

	{% block portada %}
		<h1>Ingrese sus datos</h1>
	{% endblock portada %}
{% block contenido %}
	
	<form method="POST">{% csrf_token %}
		{% include "include/form_errors.html" %}
		<!--{{form.username.label}}-->
		<!--{{form.username}}-->
		{% include "include/forms.html" %}
		<div class="row" style="padding:10px;">
			<div class="col" style="padding:30px;">
				<button type='submit' class="btn btn-outline-success">Registrarme</button>
				<a href="{% url 'inicio' %}" class="btn btn-outline-danger">Cancelar</a>
			</div>
		</div>
	</form>

	
{% endblock contenido %}