{% extends "base/base.html" %}
{% load static %}
	{% block portada %}
		<section class="py-5 text-center container">
		    <div class="row py-lg-5">
		      <div class="col-lg-6 col-md-8 mx-auto">
		        <h1 class="fw-light">{{object.nombre }} </h1>
		      </div>
		    </div>
		</section>
	{% endblock portada %}

{% block contenido %}
	
	
	<div class="card mb-3" >
		  <div class="row g-0">
			    <div class="col-md-4">
			    	{% if object.imagen %}
			    		<img src="{{object.imagen.url}}" class="img-fluid rounded-start" >
					{% else %}
						<img src= "{% static 'imagen/default/default-image.jpg' %}"class="bd-placeholder-img card-img-top" >
					{% endif %}
			    </div>
			    <div class="col-md-5">
			      <div class="card-body">
			        <h5 class="card-title">{{object.nombre}} </h5>
			        <p class="card-text"><small> <span class="badge bg-info text-dark">{{object.Categorias.nombre}}</span> </small></p>
			        <p class="card-text"class="badge bg-info text-dark">{{object.detalle}}.</p>
			      </div>
			    </div>
			    <div class="col-md-1">
			      	<h1 style="padding:30px;"><span class="badge bg-secondary">${{object.precio}}</span></h1>
			    </div>
		  </div>

	</div>
		{% if user.is_authenticated %}
        	{% if user.es_administrador %}
					<a type="button" class="btn btn-info" href="{% url 'productos:admin_listar' %}">Volver</a>
			{% else %}
					<a type="button" class="btn btn-info" href="{% url 'productos:listar' %}">Volver</a>
			{% endif %}
        {% endif %}
{% endblock contenido %}