{% if user.is_authenticated %}

	<section class="py-5 text-center container">

			    <div class="row py-lg-5">
			      <div class="col-lg-6 col-md-8 mx-auto">
			        <h1  class="text-success"> 
			        	<div class="fst-italic">Hola</div> 
			        </h1>
			        <h1  class="text-success ">
				        <div class="fst-italic">
				        	{{user.first_name}} {{user.last_name}}
				        </div>
			    	</h1>
			      </div>
			    </div>
			    
	</section>
{% else %}
	<section class="py-5 text-center container">
			    <div class="row py-lg-5">
			      <div class="col-lg-6 col-md-8 mx-auto">
			        <h1 class="fw-light">Bienvenidos al sitio de Compra </h1>
			        <p class="lead text-muted">Encontra la propiedad que tanto estabas buscando </p>
			        <p class="lead text-muted">Para acceder a mas informacion registrarce</p>
			        <!--
			        <p>
			          <a href="#" class="btn btn-primary my-2">Main call to action</a>
			          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
			        </p>
			    	-->
			      </div>
			    </div>
			    
	</section>
{% endif %}