
{% extends "base/base.html" %}
{% load static %}

{% block contenido %}
	<h1>Nuevas Ofertas </h1>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
			{% for p  in productos %}
				<div class="col ">
					{% if p.imagen %}
						<img src="{{p.imagen.url}}"class="bd-placeholder-img card-img-top" width="100%" height="225">
					{% else %}
						<img src= "{% static 'imagen/default/default-image.jpg' %}"class="bd-placeholder-img card-img-top" width="100%" height="225">
					{% endif %}
					
					<div class="card shadow-sm">
						
						<div class="card-body">
								<p class="card-text">
									{{p.nombre}}
								</p>
								<h2> 
								 	<span class="badge rounded-pill bg-dark" > $ {{p.precio}}</span>
								</h2>
								
								
								<p>
									<span class="badge rounded-pill bg-primary">{{p.categorias.nombre}}</span>
								</p>
								<!--
									{% for c in p.Categorias.all  %}
										<span class="badge rounded-pill bg-primary">{{c.nombre}}</span>
									{% endfor %}
								-->	
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
								  <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
								  <a class="btn btn-sm btn-outline-secondary" href= "{% url 'productos:detalle' %}">Ver mas</a>
								</div>
								<!--
								<small class="text-muted">9 mins</small>
								-->
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	
{% endblock contenido %}