{% extends "base/base.html" %}


{% block contenido %}

	{% block Menu %}
		
	{% endblock Menu %}
	{% block footer %}
			
	{% endblock footer %}

	{% block portada %}
		
	{% endblock portada %}
		<section class="py-5 text-center container">
		    <div class="row py-lg-5">
		      <div class="col-lg-6 col-md-8 mx-auto">
		        <h1 class="fw-light">Listado de propiedades </h1>
		      </div>
		    </div>
		</section>
	
	<div class="row" style="padding:20px;">
		<div class="col">
			<a href="{% url 'productos:admin_nuevo' %}" class="btn btn-outline-success">Nuevo</a>
			<a href="{% url 'inicio' %}" class="btn btn-outline-primary">Inicio</a>
		</div>
	</div>
	
	<table class="table table-success table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th>Precio</th>
		      <th scope="col">Acciones</th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for p in productos  %}
		    	<tr>
			      <th scope="row">{{p.id}}</th>
			      <td>{{p.nombre}}</td>
			      <td>$ {{p.precio}}</td>
			      <td>
			      	<a href="">Ver</a>
			      	<a href="{% url 'productos:admin_editar' p.id %}">Editar</a>
			      	<a href="">Eliminar</a>
			      </td>
			   	</tr> 
		    {% endfor %}
		  </tbody>
	</table>
{% endblock contenido %}
	