{% extends "base/base.html" %}


{% block contenido %}

	{% block Menu %}
		
	{% endblock Menu %}
	{% block footer %}
			
	{% endblock footer %}

	{% block portada %}
		
	{% endblock portada %}
		<section class="py-5 text-center container">
		    <div class="row py-lg-5">
		      <div class="col-lg-6 col-md-8 mx-auto">
		        <h1 class="fw-light">Listado de propiedades </h1>
		      </div>
		    </div>
		</section>
	
	
	<form class="form-inline my-2 my-lg-0" style="padding:50px;" method="GET">
	 	<div class="row">
	 		<div class="col-md-10">
	 			<input class="form-control mr-sm-2" name = "nombre_producto" type="search" placeholder="Ingrese el nombre de la propiedad...." aria-label="search" value="{{nombre_buscado}}">
	 		</div>
	 		<div class="col-md-2">
				<button class="btn btn-outline-dark" type="submit">Buscar</button>
			</div>
		</div>

    </form>
    {% include "base/menu.html" %}
    <div class="row" style="padding:20px;">
		<div class="col">
			<a href="{% url 'productos:admin_nuevo' %}" class="btn btn-outline-success">Nuevo</a>
		</div>
	</div>
	<table class="table table-success table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Precio</th>
		      <th scope="col">Detalle</th>
		      <th scope="col">Estado</th>
		      <th scope="col">Categorias</th>
		      <th scope="col">Acciones</th>
		    </tr>
		  </thead>
		  <tbody>
		  	
		    {% for p in productos  %}
		    	<tr>
			      <th scope="row">{{p.id}}</th>
			      <td>{{p.nombre}}</td>
			      <td>$ {{p.precio}}</td>
			      <td>{{p.detalle}}</td>
			      <td>{{p.Estado.nombre}}</td>
			      <td>{{p.Categorias.nombre}}</td>
			      	<!--
			      	{% for c in p.Categorias.all  %}
						<td>{{c.nombre}}</td>
					{% endfor %}
					-->
			      <td>
			      	<a href="{% url 'productos:detalle' p.id %}">Ver</a>
			      	<a href="{% url 'productos:admin_editar' p.id %}">Editar</a>
			      	<a href="{% url 'productos:admin_eliminar' p.id %}">Eliminar</a>
			      </td>
			   	</tr> 
		    {% endfor %}
		  </tbody>
	</table>
	{% include "include/paginador.html" %}
{% endblock contenido %}
	